<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Gestion Boutique</title>
</head>

<body class="bg-gray-200 text-gray-800">
    <!-- Sidebar -->
    <div class="flex">
        <aside class="w-64 h-screen py-6 fixed top-0 left-0" style="background-color: #283618;">
            <div class="mb-5">
                <h2 class="text-white text-2xl font-bold px-4">Menu</h2>
            </div>
            <ul class="my-10 flex flex-col gap-2.5 w-full">
                <li ><a href="#" class="text-gray-200 hover:bg-gray-200 hover:text-black block py-2 px-4 w-full">Dashboard</a></li>
                <li ><a href="#" class="text-gray-200 hover:bg-gray-200 hover:text-black block py-2 px-4 w-full">Dettes</a></li>
                <li ><a href="#" class="text-gray-200 hover:bg-gray-200 hover:text-black block py-2 px-4 w-full">Clients</a></li>
                <li ><a href="#" class="text-gray-200 hover:bg-gray-200 hover:text-black block py-2 px-4 w-full">Articles</a></li>
                <li ><a href="#" class="text-gray-200 hover:bg-gray-200 hover:text-black block py-2 px-4 w-full">Demandes</a></li>
                <li ><a href="#" class="text-gray-200 hover:bg-gray-200 hover:text-black block py-2 px-4 w-full">Utilisateurs</a></li>
            </ul>
            
        </aside>

        <div class="container mx-auto w-full p-4 ml-64">
            <!-- Navbar blanc -->
            <nav class="flex justify-between items-center p-6 bg-white text-black rounded-md shadow-lg mb-6">
                <h1 class="text-2xl font-bold">GESTION BOUTIQUE</h1>
                <input type="text" placeholder="Rechercher dans votre boutique..."
                    class="px-4 py-2 rounded bg-gray-200 text-black">
            </nav>

            <div class="flex space-x-4">
                <!-- Formulaire clients -->
                <div class="bg-white p-6 rounded-lg shadow-md mb-8 flex-1">
                    <h3 class="text-xl font-bold mb-4" style="color: #000000;">Ajouter un Client</h3>
                    <form action="#" method="POST">
                        <div class="mb-4">
                            <label for="nom" class="block text-gray-700">Nom</label>
                            <input type="text" id="nom" name="nom"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#fca311]"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="prenom" class="block text-gray-700">Prénom</label>
                            <input type="text" id="prenom" name="prenom"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#fca311]"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="telephone" class="block text-gray-700">Téléphone</label>
                            <input type="tel" id="telephone" name="telephone"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#fca311]"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="mail" class="block text-gray-700">E-mail</label>
                            <input type="email" id="mail" name="mail"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#fca311]"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="montant" class="block text-gray-700">Montant de la Dette</label>
                            <input type="number" id="montant" name="montant"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#fca311]"
                                required>
                        </div>
                        <button type="submit" class="px-6 py-2 text-white" style="background-color: #283618;">Ajouter
                            Client</button>
                    </form>
                </div>

                <!-- Liste des clients -->
                <div class="bg-white p-6 rounded-lg shadow-md mb-8 flex-1">
                    <h3 class="text-xl font-bold mb-4" style="color: #000000;">Liste des clients</h3>
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr class="w-full" style="background-color: #283618; color: #ffffff;">
                                <th class="py-2">Nom</th>
                                <th class="py-2">Prénom</th>
                                <th class="py-2">Téléphone</th>
                                <th class="py-2">Montant de la dette</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td class="py-2">Fall</td>
                                <td class="py-2">Mamadou</td>
                                <td class="py-2">77 7343484</td>
                                <td class="py-2">100 000 CFA</td>
                            </tr>
                            <tr class="text-center">
                                <td class="py-2">Diop</td>
                                <td class="py-2">Mariam</td>
                                <td class="py-2">77 8765784</td>
                                <td class="py-2">90 000 CFA</td>
                            </tr>
                            <tr class="text-center">
                                <td class="py-2">Diallo</td>
                                <td class="py-2">Fatou</td>
                                <td class="py-2">77 3473874</td>
                                <td class="py-2">50 000 CFA</td>
                            </tr>
                            <tr class="text-center">
                                <td class="py-2">Sow</td>
                                <td class="py-2">Fallou</td>
                                <td class="py-2">77 3784737</td>
                                <td class="py-2">30 000 CFA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-black text-center py-2 mt-6" style="background-color: #ffffff;">
        <p>hyuga@2024</p>
    </footer>
    
</body>

</html>
